---
layout: default
---
<head>
  <link rel="icon" href="/img/favicon.png" type="image/png">
  <link rel="icon" href="/img/favicon.ico" type="image/x-icon">

  <link href="https://micro.blog/sprestridge" rel="me">
  <link href="https://twitter.com/sprestridge" rel="me">
  <link href="https://mas.to/@ScoPre" rel="me">
  <link href="https://github.com/sprestridge" rel="me">
  <link href="https://www.instagram.com/sprestridge/" rel="me">

  <link  href="https://indieauth.com/auth" rel="authorization_endpoint">
  <link href="https://tokens.indieauth.com/token" rel="token_endpoint">
  <link rel="micropub" href="https://sprestridge.net/micropub">

</head> 

<div class="home">

  <h1 class="page-heading">Writing</h1>
  
  {{ content }}

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        {% assign date_format = site.minima.date_format | default: "%Y %b %d" %}
        <span class="post-meta">{{ post.date | date: date_format }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>

        {{ post.excerpt }}
        
      </li>
    {% endfor %}
  </ul>

<!-- Rainbow corner from Pride.codes https://pride.codes/sample/rainbow-corner/ 
<script type="text/javascript" src="https://cdn.pride.codes/js/rainbowcorner.js"></script> -->
<!-- Pride bar instead of in the corner -->
<link rel="stylesheet" href="https://cdn.pride.codes/css/bar_body.css">  
  
</div>
